* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', monospace;
    overflow: hidden;
}

.hidden { display: none !important; }

/* Efeito de Estática de TV */
.overlay-estatica {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: url('https://media.giphy.com/media/oEI9uWUzn938I/giphy.gif');
    opacity: 0.05;
    pointer-events: none;
    z-index: 10;
}

/    #tela-inicial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* O nome aqui deve ser igual ao nome do arquivo que você subiu */
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
